# Default Homebrew MySQL server config

# Config Design
# 1. Disable bin log: binary log is only used in "Replication in slave machine". So we can disable this for now
# 2. Set innodb_log_file_size large enough. 
# 3. innodb_flush_log_at_trx_commit = 0:  Fastest choice but less secure.
#              Any mysqld process crash can erase the last second of transactions.

# general design: since we know which transactions are succeed, even if the mysql crashes, we can recover the data easily.
# And the algorithm is deterministic, so we can re-collect already added certificates. So for the mysql config, we can sacrifice 
# the reliability. For better performance, we can even disable redo logs(not done yet).

[mysqld]

# Only allow connections from localhost
bind-address = 127.0.0.1
mysqlx-bind-address = 127.0.0.1
max_allowed_packet=1G


secure_file_priv = /tmp/


# -------------------------------
# config for memory and cpu
# -------------------------------

innodb_buffer_pool_size = 16GB  # 16 GB

innodb_buffer_pool_instances = 64  # one per thread/connection
innodb_thread_concurrency = 0
innodb_write_io_threads = 64
innodb_read_io_threads = 64

# -------------------------------
# config for log
# -------------------------------

general-log = 0 # disable general log for updating

skip-log-bin # skip binary log

sync_binlog = 0  # disable syncing the binary log to disk (better performance). The kernel will flush it from time to time.

innodb_flush_method = "O_DIRECT"

innodb_use_fdatasync = "ON"

innodb_stats_on_metadata = 0

key_buffer_size=0 # we are not using MyISAM table

innodb_log_file_size = 2G 

innodb_log_files_in_group = 2

innodb_log_buffer_size = 1G # can be larger if we have larger memory

innodb_flush_log_at_trx_commit=0 # Fastest choice but less secure.

innodb_table_locks = 0
